.ambitions {
  color: $white;
  background: $navy-blue;
  padding: 80px 0;

  .b-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .slider {
    overflow-x: clip;
    position: relative;
    scroll-behavior: smooth;

    &__wrap {
      display: flex;
      gap: 30px;
      overflow-x: scroll;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;

      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none;
      scrollbar-width: none;

      .b-card {
        flex: 0 0 100%;
        scroll-snap-align: start;
        scroll-snap-type: x mandatory;

        @media (min-width: 500px) {
          flex: 0 0 59%;
        }

        @media (min-width: 700px) {
          flex: 0 0 39%;
        }

        @media (min-width: $media-desktop) {
          flex: 0 0 29%;
        }
      }
    }

    &__dots {
      display: flex;
      align-items: center;
      // gap: 30px;
      justify-content: center;
      margin-top: 47px;

      span {
        width: 7px;
        height: 7px;
        background: $white;
        display: block;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s;

        &.active--left {
          transform: scale(3, 1);
          transform-origin: top left;
          border-radius: 20%;
          margin-right: 15px;
        }

        &.active--right {
          transform-origin: top right;
          margin-left: 15px;
          border-radius: 20%;
          transform: scale(3, 1);
        }

        &:nth-child(2) {
          margin: 0 20px;

          &.active--right {
            margin: 0 20px 0 35px;
          }

          &.active--left {
            margin: 0 35px 0 20px;
          }
        }
      }
    }
  }
}
