$media-tablet: 820px;

.footer {
  background: $navy-blue;
  color: $white;

  &__top {
    display: flex;
    flex-direction: column;
   
    padding: 60px 0 40px;
    justify-content: center;
    gap: 30px;

    @media (min-width: $media-tablet) {
      gap: 50px;
      flex-direction: row;
       flex-wrap: wrap;
    }

    @media (min-width: $media-desktop) {
      flex-direction: row;
      justify-content: space-between;
      align-items: unset;
      flex-wrap: nowrap;

      padding: 80px 0 30px;
    }
  }

  &__logo {
    flex: 0 0 auto;

    @media (max-width: $media-desktop) {
      flex: 0 0 100%;
      text-align: center;
      margin-bottom: 20px;

      img {
        width: 220px;
      }
    }
  }

  &__list {
    flex: 0 0 100%;
    text-align: center;

    @media (min-width: $media-tablet) {
      flex: 0 0 auto;
      text-align: left;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 13px;

        @media (min-width: $media-desktop) {
          margin-bottom: 20px;
        }
      }

      a {
        line-height: 23px;
        font-size: 18px;

        @media (min-width: $media-tablet) {
          line-height: 19px;
          font-size: 16px;
        }
      }
    }
  }

  &__info {
    padding: 20px;
    border-radius: $border-radius;
    transition: background-color 0.4s;
    transition-delay: 0.3s;
    flex: 0 0 100%;
    text-align: center;

    @media (min-width: $media-tablet) {
      flex: 0 0 350px;
      margin-top: -30px;
      text-align: left;
    }

    &:hover {
      background: $footer-bg-hover;

      .b-btn {
        opacity: 1;
      }
    }

    p {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      gap: 15px;
      line-height: 19px;

      @media (max-width: $media-tablet) {
        justify-content: center;
      }

      @media (min-width: $media-desktop) {
        margin-bottom: 20px;
      }
    }

    &-email {
      a {
        @include link-underlined;
      }
    }

    .b-btn {
      margin-top: 15px;

      @media (min-width: $media-desktop) {
        opacity: 0;
        transition: opacity 0.4s;
        transition-delay: 0.3s;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    padding: 17px 0 11px;
    border-top: 2px solid $white;

    @media (min-width: $media-tablet) {
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
    }

    &-links {
      display: flex;
      align-items: center;
      gap: 31px;

      @media (max-width: $media-tablet) {
        order: -1;
      }

      a {
        @include link-underlined;
      }
    }
  }
}
