html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  color: $text-color-dark;
  background: $body-bg-color;
}

.wrapper {
  min-width: 300px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1450px;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
