//font family
$font-family-primary: 'Urbanist', sans-serif;

//breakpoints
$media-tablet: 768px;
$media-desktop: 1080px;

$border-radius: 15px;
$btn-border-radius: 50px;

// colors
$border-color-light: #fcf9f7;
$white: #fff;
$navy-blue: #050835;
$blue: #0c7ee9;
$dark-blue: #3100fd;
$light-blue: #56bdfd;
$yellow: #ebaa3f;
$orange: #f68523;
$pink: #cd61ed;
$purple: #873efd;
$pink: #cd61ed;

//text colors
$text-color-dark: #2d2e33;
$text-color-light: #8b8b8e;
$text-color-ultra-light: #cbccce;
