.b-card {
  border-radius: $border-radius;
  overflow: hidden;
  cursor: default;
  color: $white;

  button {
    cursor: default;
  }

  &:hover {
    figure {
      img {
        transform: perspective(1px) scale(1.15);
      }
    }

    .b-card__btn {
      svg {
        transform: translateX(11px);
      }
    }
  }

  &__badge-wrap {
    position: relative;
  }

  &__badge {
    @include badge;
    bottom: -15px;
    left: 15px;
    padding: 6px 10px;
  }

  figure {
    position: relative;
    overflow: hidden;
    border-radius: $border-radius;

    -webkit-overflow: hidden;

    img {
      border-radius: $border-radius;
      transition: transform 0.4s, border-radius 0.4s;
    }
  }

  &__box {
    padding: 21px 0;
  }

  &__title {
    @include text-subtitle;
    margin-bottom: 6px;
  }

  &__desc {
    line-height: 24px;
    font-style: italic;
    color: $text-color-light;
    display: block;
    margin-bottom: 9px;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    color: $white;

    svg {
      transition: transform 0.4s;
    }
  }

  &--dark-text {
    &:hover {
      .b-card__box {
        background: $border-color-light;
      }

      figure {
        border-radius: 0;
        img {
          border-radius: $border-radius $border-radius 0 0;
        }
      }
    }

    .b-card__box {
      padding: 30px 14px;
      transition: background-color 0.4s;
    }

    .b-card__title {
      color: $text-color-dark;
    }

    .b-card__btn {
      color: $navy-blue;
    }
  }
}
