.b-title {
  font-size: 27px;
  line-height: 31px;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
  gap: 10px;

  @media (min-width: $media-tablet) {
    font-size: 30px;
    line-height: 34px;
    gap: 20px;
  }

  @media (min-width: $media-desktop) {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 20px;
  }

  svg {
    flex: 0 0 auto;
  }
}
